<header>
	<button id="previousDateBtn" ><i class="icon icon-chevron-left"></i></button>
	 <span class="date header-date">{{currentDate}}</span>
	<button id="nextDateBtn" ><i class="icon icon-chevron-right"></i></button>
	<span class="nextDate">{{nextDate}}</span>
	<span class="previousDate">{{previousDate}}</span>
</header>

<div class="content-fix">
	<div class="doc-grid">
		<div class="docs"></div>
		<div class="more">

			<span class="hover-pill"><i class="icon-refresh"></i> Show more...</span>
		</div>
	</div>
</div>