<h1>{#username}</h1>
<ul class="nav nav-pills nav-stacked">
    <li class="nav-to-events"><a href="#"><i class="icon-time"></i>Events</a></li>
    <li class="nav-to-photos"><a href="#"><i class="icon-camera"></i>Photos</a></li>
    <li class="nav-to-calendar"><a href="#"><i class="icon-calendar"></i>calendar</a></li>
    <li class="nav-to-collection"><a href="#"><i class="icon-star"></i>Collection</a></li>
    <li class="nav-to-settings"><a href="#"><i class="icon-cog"></i>Settings</a></li>
</ul>
