<?xml version="1.0"?>
<configuration>
<!--  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
-->
  <appSettings>
    <add key="port" value="8888"/>
    <add key="log_level" value="All"/>
    <add key="max_connections" value="1024"/>
    <add key="max_requests" value="1024"/>
    <add key="multiplex" value="true"/>
  </appSettings>
</configuration>
