<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:fire='http://schemas.microsoft.com/wix/FirewallExtension'
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define AppCode = "aostream" ?>
  <?define AppProductCode = "{D7103CDC-3557-48BC-B831-4E7D33A33031}" ?>
  <?define AppVersionMajor = "3" ?>
  <?define AppVersionMinor = "0" ?>
  <?define AppVersionPatch = "0" ?>
  <?define AppVersionBuild = "3333" ?>
  <?define AppVersion = "$(var.AppVersionMajor).$(var.AppVersionMinor).$(var.AppVersionPatch).$(var.AppVersionBuild)" ?>
  <?define AppManufacturer = "Waveface" ?>
  <?define DefaultCulture = "en-US" ?>
  <Product Id="$(var.AppProductCode)" Name="$(var.AppCode)" Language="!(loc.LANGUAGE)" 
           Version="$(var.AppVersion)" Manufacturer="$(var.AppManufacturer)"
           UpgradeCode="{0D3A35C1-20FE-4DC8-8DC9-1014D851F287}">
    <Package Id="*" InstallerVersion="200" Compressed="yes"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="no" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="TEST" Value="NO" />

    <!-- Upgrade -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of this product is found. Cannot proceed."
                  Schedule="afterInstallInitialize"/>
    <!-- Custom Actions -->
    <!-- Signoff station when uninstallation -->
    <CustomAction Id='SignoffStationAction' BinaryKey='InstallHelperDll' DllEntry='SignoffStation'/>
    <!-- Clean station registry and DB -->
    <CustomAction Id='CleanStationInfoAction' BinaryKey='InstallHelperDll' DllEntry='CleanStationInfo'/>
    <!-- Clean app data -->
    <CustomAction Id='CleanAppData' BinaryKey='InstallHelperDll' DllEntry='CleanAppData'/>
    <!-- Kill running process -->
    <CustomAction Id='KillClientProcess' BinaryKey='InstallHelperDll' DllEntry='KillClientProcess' />
    <!-- Set Registry -->
    <CustomAction Id='SetRegistry' BinaryKey='InstallHelperDll' DllEntry='SetRegistry'/>
    <!-- Start and Wait mongo db ready -->
    <CustomAction Id='StartAndWaitMongoDbReady' BinaryKey='InstallHelperDll' DllEntry='StartAndWaitMongoDbReady' />
    <!-- Add performance counters -->
    <CustomAction Id='AddPerfCounters' BinaryKey='InstallHelperDll' DllEntry='AddPerfCounters' />
    <!-- Remove performance counters -->
    <CustomAction Id='RemovePerfCounters' BinaryKey='InstallHelperDll' DllEntry='RemovePerfCounters' />
    <!-- Restore backup data -->
    <CustomAction Id='RestoreBackupData' BinaryKey='InstallHelperDll' DllEntry='RestoreBackupData' />
    <!-- WriteProductInfo -->
    <CustomAction Id='WriteProductInfo' BinaryKey='InstallHelperDll' DllEntry='WriteProductInfo' />
    <!-- CleanRemainingFiles -->
    <CustomAction Id='CleanRemainingFiles' BinaryKey='InstallHelperDll' DllEntry='CleanRemainingFiles' />

    <!-- Custom action to set HTTP URL ACL -->

    <CustomAction Id="AddUrlAcl" Directory="INSTALLLOCATION"
                      ExeCommand="[SystemFolder]netsh.exe http add urlacl url=http://+:9981/ user=users"
                      Return="check" Execute="deferred" />
    <CustomAction Id="AddUrlAcl2" Directory="INSTALLLOCATION"
                      ExeCommand="[SystemFolder]netsh.exe http add urlacl url=http://+:9989/ user=users"
                      Return="check" Execute="deferred"/>
    <CustomAction Id="RemoveUrlAcl" Directory="INSTALLLOCATION"
                      ExeCommand="[SystemFolder]netsh.exe http delete urlacl url=http://+:9981/"
                      Return="asyncWait" Execute="deferred"/>
    <CustomAction Id="RemoveUrlAcl2" Directory="INSTALLLOCATION"
                      ExeCommand="[SystemFolder]netsh.exe http delete urlacl url=http://+:9989/"
                      Return="asyncWait" Execute="deferred"/>

    <InstallExecuteSequence>
      <!-- while uninstall -->
      <Custom Action="KillClientProcess" Before="InstallValidate">
        (&amp;ClientFeature = 2) AND (!ClientFeature = 3)
      </Custom>
      <Custom Action="SignoffStationAction" Before="CleanStationInfoAction">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <Custom Action="CleanAppData" Before="CleanStationInfoAction">
        (&amp;ClientFeature = 2) AND (!ClientFeature = 3)
      </Custom>
      <Custom Action="CleanStationInfoAction" Before="RemovePerfCounters">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <Custom Action="RemovePerfCounters" Before="RemoveFiles">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <Custom Action="RemoveUrlAcl" Before="InstallFinalize">Installed</Custom>
      <Custom Action="RemoveUrlAcl2" Before="InstallFinalize">Installed</Custom>
      <Custom Action="CleanRemainingFiles" After="InstallFinalize">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <!-- while install -->
      <Custom Action="SetRegistry" Before="InstallFiles">
        ((&amp;MainFeature = 3) AND NOT (!MainFeature = 3)) OR ((&amp;ClientFeature = 3) AND NOT (!ClientFeature = 3))
      </Custom>
      <Custom Action="AddPerfCounters" After="InstallFiles">
        (&amp;MainFeature = 3) AND NOT (!MainFeature = 3)
      </Custom>
      <Custom Action="AddUrlAcl" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="AddUrlAcl2" Before="InstallFinalize">NOT Installed</Custom>
      <Custom Action="StartAndWaitMongoDbReady" After="InstallFinalize">
        (&amp;MainFeature = 3)
      </Custom>
      <Custom Action="RestoreBackupData" After="StartAndWaitMongoDbReady">
        ((&amp;MainFeature = 3) AND NOT (!MainFeature = 3)) OR ((&amp;ClientFeature = 3) AND NOT (!ClientFeature = 3))
      </Custom>
      <Custom Action="WriteProductInfo" After="RestoreBackupData">
        (&amp;MainFeature = 3) AND NOT (!MainFeature = 3)
      </Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="KillClientProcess">!(loc.KILL.PROCESS.DESC)</ProgressText>
      <ProgressText Action="SignoffStationAction">!(loc.SIGNOFF.STATION.DESC)</ProgressText>
      <ProgressText Action="CleanStationInfoAction">!(loc.CLEAN.STATION.INFO.DESC)</ProgressText>
      <ProgressText Action="CleanAppData">!(loc.CLEAN.APP.DATA.DESC)</ProgressText>
      <ProgressText Action="StartAndWaitMongoDbReady">!(loc.WaitMongoDbReady)</ProgressText>
      <ProgressText Action="RestoreBackupData">!(loc.RestoreBackupData)</ProgressText>
      <ProgressText Action="WriteProductInfo">!(loc.WriteProductInfo)</ProgressText>
      <ProgressText Action="RemoveUrlAcl">!(loc.SetUrlAcl)</ProgressText>
      <ProgressText Action="RemoveUrlAcl2">!(loc.SetUrlAcl)</ProgressText>
      <ProgressText Action="AddUrlAcl">!(loc.SetUrlAcl)</ProgressText>
      <ProgressText Action="AddUrlAcl2">!(loc.SetUrlAcl)</ProgressText>
    </UI>

    <!-- Program Menu-->
    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="!(loc.APPNAME)">
          <!-- for station + client -->
          <Component Id="pmd" Guid="{60fa9a1b-662a-43df-a97b-d7667e79cb19}">
            <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\ProgramMenuDir" Type="string" Value="ProgramMenuDir" KeyPath="yes"/>
            <RemoveFolder Id="ProgramMenuDirRF" On="uninstall" />
            <Shortcut Id="ProgMenu.Shortcut.Waveface" Name="!(loc.APPNAME)"
                      WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WindowsClient.exe">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="WavefaceStreamApp"></ShortcutProperty>
            </Shortcut>
       
            <Shortcut Id="Desktop.Shortcut.Waveface" Name="!(loc.APPNAME)"
                      WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WindowsClient.exe" Directory="DesktopFolder">
              <ShortcutProperty Key="System.AppUserModel.ID" Value="WavefaceStreamApp"></ShortcutProperty>
            </Shortcut>
            <Shortcut Id="ProgMenu.Shortcut.UninstallerExeShortcut" Name="!(loc.SHORTCUT.UNINSTALLER.NAME)"
                      WorkingDirectory="INSTALLDIR" Target="[UninstallDir]Uninstaller.exe" Arguments="!(loc.CULTURE)" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />

      <Directory Id="SendToFolder" Name="SendTo">
        <Component Id="SendToShortcut" Guid="{EFA4DF70-B9D3-417D-BAE6-FA3445A6E5E2}">
          <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\SendToShortcut" Type="string" Value="SendToShortcut" KeyPath="yes"/>
          <Shortcut Id="SendTo.stream" Name="!(loc.APPNAME)" WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WindowsClient.exe" Arguments="-i"></Shortcut>
        </Component>
      </Directory>

    </Directory>



    <DirectoryRef Id="TARGETDIR">
      <Component Id="LaunchAtStartUp" Guid="{0CB8CC8A-3A18-4F86-A6B6-C32AB76B5571}">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="string" Name="WavefaceStation" Value='"[INSTALLLOCATION]WindowsClient.exe"' KeyPath='yes'/>
        </RegistryKey>
      </Component> 
      
      <Component Id="CultureSetting" Guid="{EDAC6735-B152-47FB-9DBA-ACAD3CCF9887}">
        <RegistryKey Root="HKLM" Key="Software\Wammer\WinStation">
          <RegistryValue Type="string" Name="Culture" Value="!(loc.CULTURE)" KeyPath="yes"/>
         </RegistryKey>
      </Component>

      <Component Id="InstallPath">
        <RegistryKey Root="HKLM" Key="Software\Wammer\WinStation">
          <RegistryValue Type="string" Name="InstallPath" Value="[INSTALLLOCATION]" KeyPath="yes"/>
        </RegistryKey>
      </Component>

      <Component Id="IE10Emulation">
        <RegistryKey Root="HKLM" Key="Software\Microsoft\Internet Explorer\MAIN\FeatureControl\FEATURE_BROWSER_EMULATION">
          <RegistryValue Type="integer" Name="WindowsClient.exe" Value="10000" KeyPath="yes"/>
        </RegistryKey>
      </Component>

      <Component Id="AddToStreamExplorerMenu">
        <RegistryKey Root="HKLM" Key="Software\Classes\SystemFileAssociations">
          <RegistryKey Key=".jpeg\shell\aostream">
            <RegistryValue Type="string" Value="Add to aostream" KeyPath="yes"/>

            <RegistryKey Key="command">
              <RegistryValue Type="string" Value="[INSTALLLOCATION]WindowsClient.exe -i %1"/>
            </RegistryKey>
          </RegistryKey>

          <RegistryKey Key=".jpg\shell\aostream">
            <RegistryValue Type="string" Value="Add to aostream"/>

            <RegistryKey Key="command">
              <RegistryValue Type="string" Value="[INSTALLLOCATION]WindowsClient.exe -i %1"/>
            </RegistryKey>
          </RegistryKey>

          <!--
          <RegistryKey Key=".png\shell\aostream">
            <RegistryValue Type="string" Value="Add to aostream"/>

            <RegistryKey Key="command">
              <RegistryValue Type="string" Value="[INSTALLLOCATION]WindowsClient.exe -i %1"/>
            </RegistryKey>
          </RegistryKey>
          -->
        </RegistryKey>
        
        <RegistryKey Root="HKCR" Key="Folder\shell\aostream">
          <RegistryValue Type="string" Value="Add to aostream"/>

          <RegistryKey Key="command">
            <RegistryValue Type="string" Value="[INSTALLLOCATION]WindowsClient.exe -i %1"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <?include Component.wxi ?>
    <?include Product.Uninstaller.wxi ?>

    <!-- Directory Structure -->
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.AppCode)">
          <!--<Component Id="WebFiles.zip" Guid="*">
            <File Id="WebFile.zip" Source="..\WebFiles.zip" KeyPath="yes" Checksum="yes"/>
          </Component>-->
          <Directory Id="log" Name="log">
            <Component Id="log.folder" Guid="{7C0142E8-0AFD-4727-8672-C8275B0A9648}">
              <CreateFolder/>
            </Component>
          </Directory>
          <Directory Id="MongoDB" Name="MongoDB">
            <Directory Id="Data" Name="Data">
              <Component Id="MongoDB.Data" Guid="{295718C0-D799-465D-8F12-2B090EAA2028}">
                <CreateFolder/>
              </Component>
              <Directory Id="DB" Name="DB">
                <Component Id="MongoDB.Data.DB" Guid="{12BE1069-C314-4E57-951F-B6926556A533}">
                  <CreateFolder/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
   
    <!-- mongo db files -->
    <DirectoryRef Id="MongoDB">
      <Component Id="mongod.exe" Guid="*">
        <File Id="mongod.exe" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\bin\mongod.exe" KeyPath="yes" Checksum="yes"/>
        <ServiceInstall Arguments='--logpath "[INSTALLLOCATION]\log\MongoDB.log" --port 10319 --dbpath "[INSTALLLOCATION]\MongoDB\Data\DB" --journal --service --smallfiles --bind_ip 127.0.0.1 --logappend'
                Description='!(loc.MONGO_SVC_DESC)' DisplayName='MongoDB for Waveface' 
                ErrorControl='ignore' Name='MongoDbForWaveface' Start='auto' Type='ownProcess'>
        </ServiceInstall>
        <ServiceControl Name='MongoDbForWaveface' Id='mongoServiceControl' Start='install' Remove='uninstall' Stop='both' Wait='yes'/>
      </Component>
      <Component Id="mongos.exe" Guid="*">
        <File Id="mongos.exe" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\bin\mongos.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="mongo.exe" Guid="*">
        <File Id="mongo.exe" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\bin\mongo.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="mongorestore.exe" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\bin\mongorestore.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="mongodump.exe" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\bin\mongodump.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DB">
      <Component Guid="*">
        <File Id="mongoPrealloc.tar.gz" Source="$(var.SolutionDir)..\Lib\mongodb-win32-i386-2.0.1\mongoPrealloc.tar.gz" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Features -->
    <Feature Id='MainFeature' Level='100' Display='collapse' Title='Waveface Station and client' Absent='allow' >
      <ComponentRef Id="MongoDB.Data"/>
      <ComponentRef Id="MongoDB.Data.DB"/>
      <ComponentRef Id="log.folder"/>
      <ComponentRef Id="mongod.exe"/>
      <ComponentRef Id="mongos.exe"/>
      <ComponentRef Id="mongo.exe"/>
      <ComponentRef Id="mongorestore.exe"/>
      <ComponentRef Id="mongodump.exe"/>
      <ComponentRef Id="mongoPrealloc.tar.gz"/>
      <ComponentGroupRef Id="AllStreamFiles"/>
      <ComponentRef Id='pmd'/>
      <ComponentRef Id='SendToShortcut'/>
      <ComponentRef Id="CultureSetting"/>
      <ComponentRef Id="InstallPath"/>
      <ComponentRef Id="LaunchAtStartUp"/>
      <ComponentRef Id="IE10Emulation"/>
      <ComponentRef Id="AddToStreamExplorerMenu"/>
      <!--<ComponentRef Id="WebFiles.zip"/>-->
    </Feature>
    
    <Feature Id='ClientFeature' Level='100' Title='Waveface client only'>
      <ComponentRef Id="CultureSetting"/>
    </Feature>

    <Binary Id='InstallHelperDll' SourceFile="$(var.InstallHelper.TargetDir)\InstallHelperPkg.dll"/>
  </Product>
</Wix>
