<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:fire='http://schemas.microsoft.com/wix/FirewallExtension'>
  <?define AppCode = "WavefaceStation" ?>
  <?define AppProductCode = "{2839f3a1-39f2-4651-b4b7-da815f8e4968}" ?>
  <?define AppVersionMajor = "1" ?>
  <?define AppVersionMinor = "0" ?>
  <?define AppVersionPatch = "1" ?>
  <?define AppVersionBuild = "0" ?>
  <?define AppVersion = "$(var.AppVersionMajor).$(var.AppVersionMinor).$(var.AppVersionPatch).$(var.AppVersionBuild)" ?>
  <?define AppManufacturer = "Waveface" ?>
  <?define DefaultCulture = "en-US" ?>
  <Product Id="$(var.AppProductCode)" Name="$(var.AppCode)" Language="!(loc.LANGUAGE)" 
           Version="$(var.AppVersion)" Manufacturer="$(var.AppManufacturer)"
           UpgradeCode="{d2b3ed2e-cef5-44cb-8254-ac1a2ef0f73c}">
    <Package Id="*" InstallerVersion="200" Compressed="yes"/>
    <Media Id="1" Cabinet="media1.cab" EmbedCab="no" />
    <Property Id="INSTALLLEVEL" Value="100" />
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="TEST" Value="NO" />
    <Icon Id="icon.ico" SourceFile="..\ProductBuild\sampleIcon.ico" />

    <!-- Upgrade -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of this product is found. Cannot proceed."
                  Schedule="afterInstallInitialize"/>
    <!-- Custom Actions -->
    <!-- Signoff station when uninstallation -->
    <CustomAction Id='SignoffStationAction' BinaryKey='InstallHelperDll' DllEntry='SignoffStation'/>
    <!-- Clean station registry and DB -->
    <CustomAction Id='CleanStationInfoAction' BinaryKey='InstallHelperDll' DllEntry='CleanStationInfo'/>
    <!-- Kill running process -->
    <CustomAction Id='KillClientProcess' BinaryKey='InstallHelperDll' DllEntry='KillClientProcess' />
    <!-- Set Registry -->
    <CustomAction Id='SetRegistry' BinaryKey='InstallHelperDll' DllEntry='SetRegistry'/>
    <!-- Start and Wait mongo db ready -->
    <CustomAction Id='StartAndWaitMongoDbReady' BinaryKey='InstallHelperDll' DllEntry='StartAndWaitMongoDbReady' />
    <!-- Start waveface service -->
    <CustomAction Id='StartWavefaceService' BinaryKey='InstallHelperDll' DllEntry='StartWavefaceService' />
    <!-- Add performance counters -->
    <CustomAction Id='AddPerfCounters' BinaryKey='InstallHelperDll' DllEntry='AddPerfCounters' />
    <!-- Remove performance counters -->
    <CustomAction Id='RemovePerfCounters' BinaryKey='InstallHelperDll' DllEntry='RemovePerfCounters' />
    <!-- Restore backup data -->
    <CustomAction Id='RestoreBackupData' BinaryKey='InstallHelperDll' DllEntry='RestoreBackupData' />
    
    <InstallExecuteSequence>
      <!-- while uninstall -->
      <Custom Action="KillClientProcess" Before="SignoffStationAction">
        (&amp;ClientFeature = 2) AND (!ClientFeature = 3)
      </Custom>
      <Custom Action="SignoffStationAction" Before="CleanStationInfoAction">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <Custom Action="CleanStationInfoAction" Before="RemovePerfCounters">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <Custom Action="RemovePerfCounters" Before="RemoveFiles">
        (&amp;MainFeature = 2) AND (!MainFeature = 3)
      </Custom>
      <!-- while install -->
      <Custom Action="SetRegistry" Before="InstallFiles">
        ((&amp;MainFeature = 3) AND NOT (!MainFeature = 3)) OR ((&amp;ClientFeature = 3) AND NOT (!ClientFeature = 3))
      </Custom>
      <Custom Action="AddPerfCounters" Before="StartServices">
        (&amp;MainFeature = 3) AND NOT (!MainFeature = 3)
      </Custom>
      <Custom Action="StartAndWaitMongoDbReady" After="InstallFinalize">
        (&amp;MainFeature = 3) AND NOT (!MainFeature = 3)
      </Custom>
      <Custom Action="RestoreBackupData" After="StartAndWaitMongoDbReady">
        ((&amp;MainFeature = 3) AND NOT (!MainFeature = 3)) OR ((&amp;ClientFeature = 3) AND NOT (!ClientFeature = 3))
      </Custom>
      <Custom Action="StartWavefaceService" After="RestoreBackupData">
        (&amp;MainFeature = 3) AND NOT (!MainFeature = 3)
      </Custom>
    </InstallExecuteSequence>

    <UI>
      <ProgressText Action="KillClientProcess">!(loc.KILL.PROCESS.DESC)</ProgressText>
      <ProgressText Action="SignoffStationAction">!(loc.SIGNOFF.STATION.DESC)</ProgressText>
      <ProgressText Action="CleanStationInfoAction">!(loc.CLEAN.STATION.INFO.DESC)</ProgressText>
      <ProgressText Action="StartAndWaitMongoDbReady">!(loc.WaitMongoDbReady)</ProgressText>
      <ProgressText Action="StartWavefaceService">!(loc.StartWavefaceService)</ProgressText>
      <ProgressText Action="RestoreBackupData">!(loc.RestoreBackupData)</ProgressText>
    </UI>
    <!-- Program Menu-->
    <Directory Id="TARGETDIR" Name="SourceDir" DiskId="1">
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="!(loc.APPNAME)">

          <!-- for station + client -->
          <Component Id="pmd" Guid="{60fa9a1b-662a-43df-a97b-d7667e79cb19}">
            <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\ProgramMenuDir" Type="string" Value="ProgramMenuDir" KeyPath="yes"/>
            <RemoveFolder Id="ProgramMenuDirRF" On="uninstall" />
            <Shortcut Id="ProgMenu.Shortcut.StationUI" Name="!(loc.SHORTCUT.STARTWAVEFACE.STATION)"
                  WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]StationUI.exe"/>
            <Shortcut Id="ProgMenu.Shortcut.Client" Name="!(loc.SHORTCUT.STARTWAVEFACE.CLIENT)"
                  WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WavefaceWindowsClient.exe"/>
            <Shortcut Id="Desktop.Shortcut.Client" Name="!(loc.SHORTCUT.STARTWAVEFACE.CLIENT)"
                  WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WavefaceWindowsClient.exe" Directory="DesktopFolder"/>
          </Component>

          <!-- for client only client -->
          <Component Id="pmd_client" Guid="{C2757ED7-6129-4A3C-A21A-B577DDAED7CF}">
            <RegistryValue Root="HKCU" Key="SOFTWARE\$(var.AppCode)\ProgramMenuDir" Type="string" Value="ProgramMenuDir" KeyPath="yes"/>
            <RemoveFolder Id="ProgramMenuDirRF_client" On="uninstall" />
            <Shortcut Id="ProgMenu.Shortcut.Client_client" Name="!(loc.SHORTCUT.STARTWAVEFACE.CLIENT)"
                  WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WavefaceWindowsClient.exe"/>
            <Shortcut Id="Desktop.Shortcut.Client_client" Name="!(loc.SHORTCUT.STARTWAVEFACE.CLIENT)"
                  WorkingDirectory="INSTALLDIR" Target="[INSTALLLOCATION]WavefaceWindowsClient.exe" Directory="DesktopFolder"/>
          </Component>
          
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="TARGETDIR">
      <Component Id="LaunchAtStartUp" Guid="{0CB8CC8A-3A18-4F86-A6B6-C32AB76B5571}">
        <RegistryKey Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run">
          <RegistryValue Type="string" Name="WavefaceStation" Value='"[INSTALLLOCATION]StationUI.exe"' KeyPath='yes'/>
        </RegistryKey>
      </Component> 
      <!-- Compatibility Mode -->
      <!--
      <Component Id="AppCompatibilitySettings" Guid="{BE1ABB42-3AE4-4789-933C-1C22FE779F07}">
        <RegistryKey Root="HKLM"
                     Key="Software\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Layers">
          <RegistryValue Type="string" Name="[INSTALLLOCATION]StationSetup.exe" Value="VISTARTM" KeyPath="yes"/>
        </RegistryKey>
      </Component>
      -->
      <!-- Culture -->
      <Component Id="CultureSetting" Guid="{EDAC6735-B152-47FB-9DBA-ACAD3CCF9887}">
        <RegistryKey Root="HKLM" Key="Software\Wammer\WinStation">
          <RegistryValue Type="string" Name="Culture" Value="!(loc.CULTURE)" KeyPath="yes"/>
         </RegistryKey>
      </Component>
    </DirectoryRef>
    
    
    <?include Product.Uninstaller.wxi ?>
    <!-- Directory Structure -->
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.AppCode)">
          <Directory Id="log" Name="log">
            <Component Id="log.folder" Guid="{7C0142E8-0AFD-4727-8672-C8275B0A9648}">
              <CreateFolder/>
            </Component>
          </Directory>
          <!--<Directory Id="DefaultResourceDir" Name="DefaultResources"/>-->
          <Directory Id="zh_TW" Name="zh-TW"/>
          <Directory Id="MongoDB" Name="MongoDB">
            <Directory Id="Data" Name="Data">
              <Component Id="MongoDB.Data" Guid="{295718C0-D799-465D-8F12-2B090EAA2028}">
                <CreateFolder/>
              </Component>
              <Directory Id="DB" Name="DB">
                <Component Id="MongoDB.Data.DB" Guid="{12BE1069-C314-4E57-951F-B6926556A533}">
                  <CreateFolder/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </DirectoryRef>
   
    <!-- Components -->
    <ComponentGroup Id="Wammer.Station.Service">
      <ComponentRef Id="station.service.exe"/>
      <ComponentRef Id="station.service.exe.config"/>
      <ComponentRef Id="fastJSON.dll"/>
      <ComponentRef Id="log4net.dll"/>
      <ComponentRef Id="MongoDB.Bson.dll"/>
      <ComponentRef Id="MongoDB.Driver.dll"/>
      <ComponentRef Id="StationUI.exe"/>
      <ComponentRef Id="StationUI.resources.dll"/>
      <ComponentRef Id="StationSystemTray.exe"/>
      <ComponentRef Id="StationSystemTray.exe.config"/>
      <ComponentRef Id="StationSystemTray.resources.dll"/>
      <ComponentRef Id="SystemTrayML.xml"/>
      <ComponentRef Id="System.Data.SQLite.dll"/>
      <ComponentRef Id="TCMPortMapper.dll"/>
      <ComponentRef Id="miniupnp.dll"/>
      <ComponentRef Id="natpmp.dll"/>
      <ComponentRef Id="CommonLibs.dll"/>
    </ComponentGroup>

    <ComponentGroup Id="Wammer.Client">
      <ComponentRef Id="AppLimit.NetSparkle.dll"/>
      <ComponentRef Id="AppLimit.NetSparkle.resources.dll"/>
      <ComponentRef Id="AxInterop.SHDocVw.dll"/>
      <ComponentRef Id="DropableNotifyIcon.dll"/>
      <ComponentRef Id="HTML2XHTML.dll"/>
      <ComponentRef Id="HTMLEditor.dll"/>
      <ComponentRef Id="ImageListView.dll"/>
      <ComponentRef Id="Interop.SHDocVw.dll"/>
      <ComponentRef Id="LinqBridge.dll"/>
      <ComponentRef Id="MonthCalendarControl.dll"/>
      <ComponentRef Id="Newtonsoft.Json.Net20.dll"/>
      <ComponentRef Id="WavefaceWindowsClientHelper.exe"/>
      <ComponentRef Id="WavefaceWindowsClient.exe"/>
      <ComponentRef Id="Waveface.Configuration.dll"/>
      <ComponentRef Id="Waveface.Configuration.WindowsForms.dll"/>
      <ComponentRef Id="WebCam_Capture.dll"/>
      <ComponentRef Id="StationML.xml"/>
      <ComponentRef Id="CommonLibs.dll"/>
      <ComponentRef Id="WavefaceWindowsClient.resources.dll"/>
      <ComponentRef Id="WavefaceML.xml"/>
      <ComponentRef Id="Microsoft.mshtml.dll"/>
      <ComponentRef Id="nlog.config"/>
      <ComponentRef Id="nlog.dll"/>
    </ComponentGroup>
    
    <DirectoryRef Id="INSTALLLOCATION">
      <Component Id="station.service.exe" Guid="{C428C8C2-9C38-4E40-8372-E39C56970A82}">
        <fire:FirewallException Id="WFFWX1" Name="Waveface Station Service" Port="9981" Protocol="tcp" Scope="any" IgnoreFailure="yes" />
        <File Id="station.service.exe" Source="$(var.Wammer.Station.Service.TargetPath)" KeyPath="yes" Checksum="yes"/>
        <ServiceInstall Description="!(loc.STATION_SVC_DESC)" DisplayName="Waveface Station"
                        Name="WavefaceStation" Start="auto" Type="ownProcess" ErrorControl="ignore">
          <ServiceDependency Id="MongoDbForWaveface"/>
        </ServiceInstall>
        <ServiceControl Name='WavefaceStation' Id='WavefaceStationSvcControl' Remove='uninstall' Stop='both' Wait='yes'/>
      </Component>
      <Component Id="station.service.exe.config" Guid="{17767F57-1550-4788-87E6-1B3C3A72D46D}">
        <File Id="station.service.exe.config" 
              Source="$(var.Wammer.Station.Service.ProjectDir)\app.config" 
              Name="$(var.Wammer.Station.Service.TargetFileName).config" KeyPath="yes"/>
      </Component>
      <Component Id="fastJSON.dll" Guid="{CCF3E51A-1970-4E1B-B3A6-D0F196EF4810}">
        <File Id="fastJSON.dll" Source="$(var.Wammer.Station.Service.TargetDir)\fastJSON.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="log4net.dll" Guid="{B3718834-E341-476D-8E97-BF858C95EE48}">
        <File Id="log4net.dll" Source="$(var.Wammer.Station.Service.TargetDir)\log4net.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="MongoDB.Bson.dll" Guid="{254A62CE-42A7-4C89-922F-75D39E5A00CF}">
        <File Id="MongoDB.Bson.dll" Source="$(var.Wammer.Station.Service.TargetDir)\MongoDB.Bson.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="MongoDB.Driver.dll" Guid="{DA8A66C8-D977-4524-AA1E-8C95767F0C30}">
        <File Id="MongoDB.Driver.dll" Source="$(var.Wammer.Station.Service.TargetDir)\MongoDB.Driver.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="System.Data.SQLite.dll" Guid="{B753EDC1-5CC9-496B-B5C1-4251E438907E}">
        <File Id="System.Data.SQLite.dll" Source="$(var.Wammer.Station.Service.TargetDir)\System.Data.SQLite.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Station.Management.exe" Guid="{F6BE5F51-E2BB-4BC3-BA4E-9488DCBA4D5B}">
        <File Id="Station.Management.exe" Source="$(var.Wammer.Station.Management.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="StationUI.exe" Source="$(var.StationUI.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="StationSystemTray.exe" Source="$(var.StationSystemTray.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="StationSystemTray.exe.config" Source="$(var.StationSystemTray.TargetPath).config" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="SystemTrayML.xml" Source="$(var.StationSystemTray.ProjectDir)\SystemTrayML.xml" KeyPath="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="TCMPortMapper.dll" Source="$(var.Wammer.Station.Service.TargetDir)\TCMPortMapper.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="miniupnp.dll" Source="$(var.Wammer.Station.Service.TargetDir)\miniupnp.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="natpmp.dll" Source="$(var.Wammer.Station.Service.TargetDir)\natpmp.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      
      <!-- client files -->
      <Component Guid="*">
        <File Id="AppLimit.NetSparkle.dll" Source="$(var.Wammer.TargetDir)\AppLimit.NetSparkle.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AxInterop.SHDocVw.dll" Guid="{345D9FC1-4BF7-43E0-883F-F94AAD20D530}">
        <File Id="AxInterop.SHDocVw.dll" Source="$(var.Wammer.TargetDir)\AxInterop.SHDocVw.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="DropableNotifyIcon.dll" Guid="{752C2F95-AEBB-4628-B7DA-15BDD61475B9}">
        <File Id="DropableNotifyIcon.dll" Source="$(var.Wammer.TargetDir)\DropableNotifyIcon.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="HTML2XHTML.dll" Guid="{9F7744E6-36B0-4131-8CD7-993A52FBFF3C}">
        <File Id="HTML2XHTML.dll" Source="$(var.Wammer.TargetDir)\HTML2XHTML.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="HTMLEditor.dll" Guid="{B4CFC23E-3B35-459B-B731-E0EB456F1E0D}">
        <File Id="HTMLEditor.dll" Source="$(var.Wammer.TargetDir)\HTMLEditor.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ImageListView.dll" Guid="{153ADAA8-301F-47D0-9727-6CDB0A804E86}">
        <File Id="ImageListView.dll" Source="$(var.Wammer.TargetDir)\ImageListView.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Interop.SHDocVw.dll" Guid="{2D2F5819-C702-4D65-9349-D2B818BAE5DD}">
        <File Id="Interop.SHDocVw.dll" Source="$(var.Wammer.TargetDir)\Interop.SHDocVw.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="LinqBridge.dll" Guid="{B36EB6EC-9188-4493-BC78-3A666CAC713F}">
        <File Id="LinqBridge.dll" Source="$(var.Wammer.TargetDir)\LinqBridge.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="MonthCalendarControl.dll" Guid="{811AB789-99DE-45DE-BCBB-D7FBAE8B4148}">
        <File Id="MonthCalendarControl.dll" Source="$(var.Wammer.TargetDir)\MonthCalendarControl.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Newtonsoft.Json.Net20.dll" Guid="{F9C05527-45EB-42FD-800B-3A6602049BBC}">
        <File Id="Newtonsoft.Json.Net20.dll" Source="$(var.Wammer.TargetDir)\Newtonsoft.Json.Net20.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WavefaceWindowsClientHelper.exe" Guid="{C33E6305-13B0-43EE-8000-BCE3B0507117}">
        <File Id="WavefaceWindowsClientHelper.exe" Source="$(var.Wammer Helper.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WavefaceWindowsClient.exe" Guid="{7168B0C6-A08E-41FB-9339-86C3B6FBC43C}">
        <File Id="WavefaceWindowsClient.exe" Source="$(var.Wammer.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Waveface.Configuration.dll" Guid="{A33A4D78-12AB-42CD-8F32-22E79780E355}">
        <File Id="Waveface.Configuration.dll" Source="$(var.Wammer.TargetDir)\Waveface.Configuration.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Waveface.Configuration.WindowsForms.dll" Guid="{427E4DF2-5FF0-4403-94B6-E87ABC97C639}">
        <File Id="Waveface.Configuration.WindowsForms.dll" Source="$(var.Wammer.TargetDir)\Waveface.Configuration.WindowsForms.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WebCam_Capture.dll" Guid="{6FB4742B-8748-4ED4-AEE5-83EF7CC2BA2F}">
        <File Id="WebCam_Capture.dll" Source="$(var.Wammer.TargetDir)\WebCam_Capture.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="StationML.xml" Guid="{C164BC1B-FF51-48AF-8F0B-E5228DE32A5B}">
        <File Id="StationML.xML" Source="$(var.StationUI.ProjectDir)\StationML.xml"/>
      </Component>
      <Component Id="WavefaceML.xml" Guid="{509DC419-360D-4A3E-832E-62515E094FD9}">
        <File Id="WavefaceML.xML" Source="$(var.Wammer.ProjectDir)\WavefaceML.xml"/>
      </Component>
      <Component Guid="{57E17EB6-BEA0-437F-987C-D5D0E569F855}">
        <File Id="CommonLibs.dll" Source="$(var.CommonLibs.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Microsoft.mshtml.dll" Guid="{E3444381-2FBC-45A9-B3B2-6134E428CC49}">
        <File Id="Microsoft.mshtml.dll" Source="$(var.Wammer.ProjectDir)\..\Libs\Microsoft.mshtml.dll"/>
      </Component>
      <Component Id="nlog.dll" Guid="{8E785CA1-3EA7-481C-9FF8-959C711835A1}">
        <File Id="nlog.dll" Source="$(var.Wammer.ProjectDir)\..\Libs\NLog.dll"/>
      </Component>
      <Component Id="nlog.config" Guid="{873B6B1B-036A-444E-A530-418F095A2A11}">
        <File Id="nlog.config" Source="$(var.Wammer.ProjectDir)\nlog.config"/>
      </Component>
    </DirectoryRef>

    <!-- localization resources -->
    <DirectoryRef Id="zh_TW">
      <Component Guid="*">
        <File Id="AppLimit.NetSparkle.resources.dll" Source="$(var.Wammer.TargetDir)\zh-TW/AppLimit.NetSparkle.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="StationUI.resources.dll" Source="$(var.StationUI.TargetDir)\zh-TW\StationUI.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="StationSystemTray.resources.dll" Source="$(var.StationSystemTray.TargetDir)\zh-TW\StationSystemTray.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WavefaceWindowsClient.resources.dll" Guid="{F9E63329-F16F-433C-AF22-845350BA079C}">
        <File Id="WavefaceWindowsClient.resources.dll" Source="$(var.Wammer.TargetDir)\zh-TW\WavefaceWindowsClient.resources.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- mongo db files -->
    <DirectoryRef Id="MongoDB">
      <Component Id="mongod.exe" Guid="{1163C7C1-0494-4DFD-890D-2611FDCD3C19}">
        <File Id="mongod.exe" Source="$(var.SolutionDir)\Station\3rd_party\mongodb-win32-i386-2.0.1\bin\mongod.exe" KeyPath="yes" Checksum="yes"/>
        <ServiceInstall Arguments='--logpath "[INSTALLLOCATION]\log\MongoDB.log" --port 10319 --dbpath "[INSTALLLOCATION]\MongoDB\Data\DB" --journal --service --smallfiles'
                Description='!(loc.MONGO_SVC_DESC)' DisplayName='MongoDB for Waveface' 
                ErrorControl='ignore' Name='MongoDbForWaveface' Start='auto' Type='ownProcess'>
        </ServiceInstall>
        <ServiceControl Name='MongoDbForWaveface' Id='mongoServiceControl' Start='install' Remove='uninstall' Stop='both' Wait='yes'/>
      </Component>
      <Component Id="mongos.exe" Guid="{996CFEA9-7286-44C8-82D3-68B9AEE1EAE5}">
        <File Id="mongos.exe" Source="$(var.SolutionDir)\Station\3rd_party\mongodb-win32-i386-2.0.1\bin\mongos.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="mongo.exe" Guid="{03376030-6756-4698-B1FF-AD92F18BABE5}">
        <File Id="mongo.exe" Source="$(var.SolutionDir)\Station\3rd_party\mongodb-win32-i386-2.0.1\bin\mongo.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Guid="*">
        <File Id="mongorestore.exe" Source="$(var.SolutionDir)\Station\3rd_party\mongodb-win32-i386-2.0.1\bin\mongorestore.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      
    </DirectoryRef>
    <DirectoryRef Id="DB">
      <Component Guid="*">
        <File Id="mongoPrealloc.tar.gz" Source="$(var.SolutionDir)\Station\3rd_party\mongodb-win32-i386-2.0.1\mongoPrealloc.tar.gz" KeyPath="yes" Checksum="yes"/>
      </Component>
    </DirectoryRef>
    
    <!-- Features -->
    <Feature Id='MainFeature' Level='100' Display='collapse' Title='Waveface Station and client' Absent='allow' >
      <ComponentRef Id="MongoDB.Data"/>
      <ComponentRef Id="MongoDB.Data.DB"/>
      <ComponentRef Id="log.folder"/>
      <ComponentRef Id="mongod.exe"/>
      <ComponentRef Id="mongos.exe"/>
      <ComponentRef Id="mongo.exe"/>
      <ComponentRef Id="mongorestore.exe"/>
      <ComponentRef Id="mongoPrealloc.tar.gz"/>
      <ComponentRef Id="Station.Management.exe"/>
      <ComponentGroupRef Id='Wammer.Station.Service'/>
      <ComponentRef Id='pmd'/>
      <ComponentRef Id="CultureSetting"/>
      <ComponentRef Id="LaunchAtStartUp"/>
    </Feature>
    
    <Feature Id='ClientFeature' Level='100' Title='Waveface client only'>
      <ComponentGroupRef Id='Wammer.Client'/>
      <ComponentRef Id="pmd_client"/>
      <ComponentRef Id="CultureSetting"/>
    </Feature>

    <Binary Id='InstallHelperDll' SourceFile="$(var.InstallHelper.TargetDir)\InstallHelperPkg.dll"/>
  </Product>
</Wix>