<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>    
    <target  name ="file"  xsi:type ="File"  fileName ="${specialfolder:folder=ApplicationData}/Waveface/${shortdate}.log"/> 

    <target name="TcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505" />
  </targets>
  
  <rules>
    <logger name="*" minlevel ="Error" writeTo="file"></logger>
    <logger name="*" minlevel ="Trace" writeTo="TcpOutlet"></logger>
  </rules>
</nlog>