<div
	class="photo-grid-l-l-l"
	data-frame_count="3"
>
	<div class="col col-1">
		<div class="frame {{photos.0.orientation}}"
			data-id="{{photos.0.id}}"
			data-ratio="1.5"
		>
			<img src="{{photos.0.image_meta.medium.url}}">
		</div>
	</div>
	<div class="col col-2">
		<div class="frame {{photos.1.orientation}}"
			data-id="{{photos.1.id}}"
			data-ratio="1.5"
		>
			<img src="{{photos.1.image_meta.medium.url}}">
		</div>
	</div>
	<div class="col col-3">
		<div class="frame {{photos.2.orientation}}"
			data-id="{{photos.2.id}}"
			data-ratio="1.5"
		>
			<img src="{{photos.2.image_meta.medium.url}}">
		</div>
	</div>
</div>