<header>
	Collection Name
</header>
<div class="attachments">
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
<div class="attachment">
	<div class="frame">
		<img src="http://placekitten.com/320/320" alt="">
	</div>
</div>
</div>