<header>
    <div class="date pull-left">
    	{{ time }} ~ {{ end_time }}
    </div>
    <div class="attachment-size  pull-right">
    	{{#hasMap}}<i class="icon-map-marker"></i> &nbsp;{{/hasMap}}
    	{{#hasPhoto}}<i class="icon-camera"></i> {{attachment_count}}{{/hasPhoto}}
    </div>
</header>
<div class="event-content {{#hasMap}}hasMap{{/hasMap}}">
	<div class="event-text">
		{{#hasDescription}}
		<div class="event-description">
			<i class="icon icon-pencil"></i>
				<span class="description">{{ event_description }}</span>
				{{#gps.name}}
				at <span class="location">{{ gps.name }}</span>
				{{/gps.name}}

			{{#hasPeople}}
				with {{# people }}<span class="people">{{name}} </span>{{/ people }}
			{{/hasPeople}}
		</div>
		{{/hasDescription}}
		{{#gps.name}}
		<div class="event-who-where">
			<i class="icon icon-map-marker"></i>
			<div class="where">

			</div>
			{{ gps.name }}

			<div class="who">
				{{#hasPeople}}
				{{# people }}{{avatar}} </span>{{/ people }}
			{{/hasPeople}}
			</div>
		</div>
		{{/gps.name}}
		{{#hasTags}}
		<div class="event-tags">
			<i class="icon icon-tag"></i>
			{{#tags}}
				<span class="tag">{{.}}</span>
			{{/tags}}
		</div>
		{{/hasTags}}
	</div>
	{{#hasMap}}
	<div class="event-location">
		<div id="map_canvas" style="width: 100%; height: 300px"></div>
	</div>
	{{/hasMap}}
</div>
<div class="event-photos">
	<div class="inner">
		<div class="attachments">
		</div>
		<div class="more hide"><span class="hover-pill"><i class="icon-refresh"></i> Show more...</span></div>

	</div>
</div>


